<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ object.headline }}</title>
</head>
<body>
Нормативные документы
{% block content %}
    <h1>Заголовок:{{ regulations.title }}</h1>
    <p>Время:{{ regulations.datetime }}</p>
    <p>Категория{{ regulations.category_parent }}</p>
    <p>Текст:{{ regulations.text }}</p>
    <p>Файл:{{ regulations.file }}</p>
{% endblock %}

{{ TopicList }}
    <ul>
    {% for category in TopicList %}
        <li>{{ category.datetime|date }} - <a href="{{ category.get_absolute_url }}/">{{ category.title }}</a></li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>
<a href="/normativnye_dokumenty/{{ regulations.category_parent.slug }}">Вернуться назад</a>
</body>
</html>