<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category.title }}</title>
</head>
<body>
    <h1>Заголовок:{{ category.title }}</h1>
    <p>Время:{{ category.datetime }}</p>
    <p>Текст:{{ category.text }}</p>
    <ul>
    {% for regulations in RegulationsList %}
        <li>{{ regulations.datetime|date }} - <a href="{{ regulations.slug }}/">{{ regulations.title }}</a></li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>

<a href="/normativnye_dokumenty/">Вернуться назад</a>

</body>
</html>