<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ object.headline }}</title>
</head>
<body>
Нормативные документы
{% block content %}
    <h1>Заголовок:{{ regulations.title }}</h1>
    <p>Время:{{ regulations.datetime }}</p>
    <p>Категория{{ regulations.category_parent }}</p>
    <p>Текст:{{ regulations.text }}</p>
    <p>Файл:{{ regulations.file }}</p>
{% endblock %}
<a href="/normativnye_dokumenty/{{ regulations.category_parent.slug }}">Вернуться назад</a>
</body>
</html>