{% load static %}

    <script src="http://malsup.github.com/jquery.form.js"></script>
        <script>
        $(document).ready(function() {
            $('#form').ajaxForm(function() {
                alert("Thank you for your comment!");
            });
        });
    </script>

{% if email_form %}
<form id="form" class="feedback" action="/feedback/2ajax/" method="POST" enctype="multipart/form-data">

{% csrf_token %}
{{email_form.as_p}}
{{message}}
<button class="feedback_submit_button">Send</button>
</form>
{% endif %}