{% load static %}
{% load i18n %}

<div id="feedback_drop" class="feedback_drop hiding"></div>
<div id="feedback_popup" class="feedback_popup">
    <form class="feedback" action="/feedback/ajax2{{ request.path }}" method="POST">
        <h4>Фидбек</h4>
        {% csrf_token %}
        <div class="name error"> </div>
        <label for="name">email (optional)2</label>
            <input name="name" class="emailinput"/>
        <div class="telephone error"> </div>
        <label for="telephone">subject (optional)2</label>
            <input name="telephone" class="subjectinput"/>
        <div class="text error"> </div>
        <label for="text">message2</label>
            <textarea name="text" class="messageinput"></textarea>
        <input name="age" class="age"/>
        <div class="buttons">
            <button class="feedback_submit_button">Send</button>
        </div>
    </form>
    <div class="thanks hiding">Thank you for your feedback!</div>
    <div class="close"></div>
</div>

<script>
    $(function(){
        feedback.init({
            'button':$('.feedback_button'),
            'drop':$('#feedback_drop'),
            'popup':$('#feedback_popup')
        });
    });
</script>