{% extends 'base.html' %}
{% load thumbnail static%}
{% block extra %}
    <link type="text/css" rel="stylesheet" href="{% static 'main/pages/jquery.bxslider.css' %}"/>
    <script src="{% static 'main/pages/jquery.bxslider.min.js' %}"></script>



    <link type="text/css" rel="stylesheet" href="{% static 'main/pages/unslider.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'main/pages/unslider-dots.css' %}"/>
    <script src="{% static 'main/pages/unslider-min.js' %}"></script>
    <script>
        jQuery(document).ready(function($) {
            $('.slider').unslider({
                animation: 'horizontal',
                autoplay: true,
                delay: 10000,
                infinite: true,
            });
        });
    </script>
    <style>
        .unslider-nav ol li {
            background: #000;
        }
        .unslider-nav ol li.unslider-active {
            background: green;
        }
    </style>

{% endblock %}

{% block content %}
<h2>Нормативные документы</h2>
    {{ currency.USD|floatformat:2 }}
    {{ currency.EUR|floatformat:2 }}
    {{ currency.Oil|floatformat:2 }}
    {{ currency.CBR }}
    {{ currency.MRT }}
    <br>
    {{ currency.datetime }}


    <div class="slider" style="height: 30px;">
        <ul>
            <li>
                <div style="width:50%;display: inline-block">1</div>
            </li>
            <li>
                <div style="width:50%;display: inline-block">2</div>
            </li>

            <li>
                <div style="width:50%;display: inline-block">3</div>
            </li>
            <li>
                <div style="width:50%;display: inline-block">4</div>
            </li>

            <li>
                <div style="width:50%;display: inline-block">5</div>
            </li>
            <li>
                <div style="width:50%;display: inline-block">6</div>
            </li>

            <li>
                <div style="width:50%;display: inline-block">7</div>
            </li>
            <li>
                <div style="width:50%;display: inline-block">8</div>
            </li>
            <li>
                <div style="width:50%;display: inline-block">9</div>
            </li>
            <li>
                <div style="width:50%;display: inline-block">10</div>
            </li>
        </ul>
    </div>

    <script src="http://malsup.github.com/jquery.form.js"></script>
        <script>
        $(document).ready(function() {
            $('#form').ajaxForm(function() {
                alert("Thank you for your comment!");
            });
        });
    </script>

<form id="form" class="feedback" action="/feedback/2ajax/" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <p><label for="id_telephone">Telephone:</label> <input id="id_telephone" maxlength="30" name="telephone" type="text" required=""></p>
    <p><label for="id_attach">Attach:</label> <input name="attach" type="file"></p>
    <button>Send</button>
</form>

<div style="width: 100%;float: left;">
    {% thumbnail regulations.image "500x200" crop="center" quality=99 as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <h3>Заголовок: {{ regulations.title }}</h3>
    <p>Время: {{ regulations.datetime }}</p>
    <p>Категория: {{ regulations.category_parent }}</p>
    <p>Текст: {{ regulations.text }}</p>
    <p>Файл: {{ regulations.file }}</p>
</div>

    <div  style="width: 100%; float: left;">
        <div style="width: 100%; margin: 0 auto;" >
            {% for category in topicList %}
                <div>{{ category.datetime|date }} - <a href="{% url 'pages:list' category.slug %}">{{ category.title }}</a></div>
            {% empty %}
                 <div>No articles yet.</div>
            {% endfor %}
        </div>
    </div>

<a href="{% url 'pages:list' regulations.category_parent.slug %}">Вернуться назад</a>
    <br />
    <br />

    <div  style="width: 100%; float: left;">
        <div class="carusel" style="width: 80%; margin: 0 auto;" >
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>
            <div class="slide"><p><a href="#">1</a></p></div>

        </div>
    </div>
    <script>
        $(document).ready(function(){
          $('.carusel').bxSlider({
            slideWidth: 300,
            minSlides: 2,
            maxSlides: 3,
            moveSlides: 1,
            slideMargin: 10
          });
        });
    </script>

<div style="width:100%;float:left;position:relative;height: 350px;">
    {% include "feedback_form/Callback_emailform.html" %}
</div>


{% endblock %}
