{% extends 'base.html' %}
{% load thumbnail static%}
{% block extra %}
    <link type="text/css" rel="stylesheet" href="{% static 'main/pages/jquery.bxslider.css' %}"/>
    <script src="{% static 'main/pages/jquery.bxslider.min.js' %}"></script>



    <link type="text/css" rel="stylesheet" href="{% static 'main/pages/unslider.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'main/pages/unslider-dots.css' %}"/>
    <script src="{% static 'main/pages/unslider-min.js' %}"></script>
    <script>
        jQuery(document).ready(function($) {
            $('.slider').unslider({
                animation: 'horizontal',
                autoplay: true,
                delay: 10000,
                infinite: true,
            });
        });
    </script>
    <style>
        .unslider-nav ol li {
            background: #000;
        }
        .unslider-nav ol li.unslider-active {
            background: green;
        }
    </style>

{% endblock %}

{% block content %}
<h2>Нормативные документы</h2>

    <div class="slider" style="height: 30px;">
        <ul>
            {% for category in topicList %}
            <li style="
                    background: url('{% static 'img/banner.jpg' %}');
                    padding: 10px;
                        ">
                <div >Текст</div>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
