{% extends 'base.html' %}
{% load static%}
{% block extra %}
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Нормативные документы</h2>

<div style="width: 100%;float: left;">
    <h3>Заголовок:{{ regulations.title }}</h3>
    <p>Время:{{ regulations.datetime }}</p>
    <p>Категория:{{ regulations.category_parent }}</p>
    <p>Текст:{{ regulations.text }}</p>
    <p>Файл:{{ regulations.file }}</p>
    <p>JSON:{{ regulations.date }}</p>
</div>


<a href="{% url 'pages:list' regulations.category_parent.slug %}">Вернуться назад</a>
    <br />
    <br />
<form class="requestForm">
{% csrf_token %}
    <input type="text" placeholder="Имя" name="name" required="required">
    <input type="email" placeholder="Email" name="email">
    <input type="text" placeholder="Телефон" name="telephone" class="input-full" required="required">
    <textarea placeholder="Сообщение" name="text" class="input-full"></textarea>
    <button type="submit" id="submit" class="btn">Отправить заявку</button>

    <div class="thx" style="display:none;">thx</div>
    <div class="error" style="display:none;">error</div>
</form>

<form class="requestForm">
{% csrf_token %}
    <input type="text" placeholder="Имя" name="name" required="required">
    <input type="email" placeholder="Email" name="email">
    <input type="text" placeholder="Телефон" name="telephone" class="input-full" required="required">
    <textarea placeholder="Сообщение" name="text" class="input-full"></textarea>
    <button type="submit" id="submit" class="btn">Отправить заявку</button>

    <div class="thx" style="display:none;">thx</div>
    <div class="error" style="display:none;">error</div>
</form>

<form class="attachForm" enctype="multipart/form-data">
{% csrf_token %}
    <input name="name" type="text">
    <input id="tel" name="telephone" type="text">
    <input name="rab" type="text">
    <input id="file" name="attach" type="file">
    <button type="submit" id="submit" class="btn">Отправить заявку</button>
    <div class="thx" style="display:none;">thx</div>
    <div class="error" style="display:none;">error</div>
</form>
{% endblock %}
