{% load thumbnail %}

{% block content %}
<h2>Нормативные документы</h2>
<div style="width: 100%;float: left;">
    {% thumbnail regulations.image "500x200" crop="center" quality=99 as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <h3>Заголовок:{{ regulations.title }}</h3>
    <p>Время:{{ regulations.datetime }}</p>
    <p>Категория{{ regulations.category_parent }}</p>
    <p>Текст:{{ regulations.text }}</p>
    <p>Файл:{{ regulations.file }}</p>
</div>
    <ul>
    {% for category in topicList %}
        <li>{{ category.datetime|date }} -
            <a href="{% url 'pages:list' category.slug %}">{{ category.title }}</a></li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>
<a href="{% url 'pages:list' regulations.category_parent.slug %}">Вернуться назад</a>
    <br />
    <br />

    {% for news in news_list %}
        <p><a href="{% url 'pages:list' 'gost' %}{{ news.slug }}">{{ news.title }}</a></p>
    {% endfor %}
<div style="width:100%;float:left;position:relative;height: 350px;">

    {% include "Callback_emailform.html" %}
</div>

<div style="width:100%; float:left; position:relative;">

    {% include "Callback_emailform_2.html" %}
</div>

{% endblock %}
