{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="JS-Region"
     data-region="{
        'dataName': 'location',
        'cookieName': 'location_id',
        'classHidden':'hide',
        'cookieExpires': '60*60*24*365'}"
     data-region-handlers="{
     'jsregionupdate': 'onRegionUpdate'}">
<div class="JS-Dropdown"
     data-dropdown="{
        'dataName': 'value',
        'classActive': 'dropdown_active',
        'classHidden': 'hide'}"
     data-dropdown-handlers="{
        'jsdropdownupdate': 'onDropdownUpdate'}">

<a href="javascript:" class="JS-Dropdown-Switcher">

</a>


    <div class="JS-Dropdown-List">
        {% for location in locations %}
            <p class="JS-Dropdown-Item" ><a class="JS-Dropdown-Label" href="#" data-value="{{ location.id }}">{{ location.name }}</a></p>
        {% endfor %}
    </div>
</div>


    {% for location in locations %}
        <p class="hide JS-Region-Data" data-location="{{ location.id }}">
            {{ location.name }}
        {{ location.address }}
        </p>
    {% endfor %}
    </div>


<div class="JS-Region"
     data-region="{
        'dataName': 'code',
        'cookieName': 'location_code',
        'classHidden':'hide',
        'cookieExpires': '60*60*24*365'}">
        <p class="hide JS-Region-Data" data-code="1">1</p>
        <p class="hide JS-Region-Data" data-code="2">2</p>
        <p class="hide JS-Region-Data" data-code="3">3</p>

</div>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/Base.js' %}"></script>
    <script src="{% static 'js/Locations.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}





